version: '3.7'

services:
  django_project:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./django_project:/django_project
    command: sh -c "python manage.py runserver 0.0.0.0:8000"
    environment:
      - DEBUG=1
