apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .Values.storageClaimName }}
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: do-block-storage